body {
    margin: 0;
    font-family: "Roboto", "Montserrat", sans-serif;
    background-color: #414247;
    color: #fff;
}

.head {
    width: 100%;
    height: 170px;
    background-color: #414247;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 2px solid gray;
}

.im {
    width: 300px;
    height: 170px;
    object-fit: cover;
}

.products-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding: 20px;
}

.kidcard {
    background: #5f5f5f;
    width: 260px;
    padding: 18px;
    border-radius: 20px;
    border: 3px solid #f8f8f7;
    box-shadow: 0 6px 14px rgba(255, 200, 0, 0.25);
    text-align: center;
    transition: transform 0.25s ease;
}

.kidcard:hover {
    transform: scale(1.04);
}

.kidimg {
    width: 100%;
    border-radius: 14px;
    border: 3px solid #ffd56d;
    object-fit: cover;
}

.kidtitle {
    font-size: 20px;
    margin: 12px 0;
    font-weight: bold;
    color: #ff8a00;
}

.kidprice {
    font-size: 22px;
    color: #3fae6c;
    margin-bottom: 16px;
    font-weight: bold;
}

.kidprices {
    display: flex;
    justify-content: center;
    gap: 10px;
    align-items: center;
    margin-bottom: 12px;
}

.kidold {
    font-size: 18px;
    color: #999;
    text-decoration: line-through;
}

.kiddesc {
    display: none;
    color: #f0f0f0;
    font-size: 14px;
    margin-bottom: 12px;
    text-align: justify;
}

.kidbuy {
    background: #ffb700;
    color: white;
    border: none;
    padding: 10px 24px;
    font-size: 17px;
    border-radius: 16px;
    cursor: pointer;
    font-weight: bold;
    transition: all 0.2s;
    margin-top: 6px;
}

.kidbuy:hover {
    background: #ffa300;
    transform: scale(1.05);
}

.kidtgl {
    background: #31302f;
    color: white;
    border: none;
    padding: 10px 24px;
    font-size: 10px;
    border-radius: 6px;
    cursor: pointer;
    font-weight: bold;
    transition: all 0.2s;
    margin-bottom: 6px;
}

.kidtgl:hover {
    background: #ffa300;
    transform: scale(1.05);
}

.kidmsg {
    display: inline-block;
    margin-top: 10px;
    padding: 8px 12px;
    background: #ff4d4f;
    color: white;
    border-radius: 8px;
    font-weight: 700;
    font-size: 14px;
    box-shadow: 0 6px 12px rgba(0,0,0,0.12);
    opacity: 0;
    transform: translateY(6px);
    transition: opacity 0.2s ease, transform 0.2s ease;
}

@media (max-width: 768px) {
    .kidcard {
        width: 90%;
    }
}



/* sdf */